h1.jugando-title{
margin: 0;
padding: 0;
color: #81F0EF;
line-height: 0.8;
}

h4.aprendiendo-title{
color:#7A56D0;
font-size: 2rem;
line-height: 0.8;
}

.row .text-header{
margin-top: 5rem;
}


.jugando-txt {
font-size: 4rem;
}

.se-txt {
font-size: 3rem;
}

.aprendiendo-txt {
font-size: 3.5rem;
}

.gana-txt{
font-size: 4rem;
}

#header{
  background-color: #fffdfa89;
  width: 100%;
}


@media (max-width: 768px) {
.jugando-txt {
font-size: 3rem;
}
.se-txt {
font-size: 2rem;
}

.aprendiendo-txt{
  font-size: 2.5rem;
}

.gana-txt {
font-size: 3rem;
}

.row .text-header{
  margin-top: 2rem;
}

p, header {
  font-size: 1.1rem;
}
}

