
.diferenciadores{
background-color: #81F0EF;

}

.diferenciadores .container{
width: 65%;
}

.diferenciadores p{
background-color: #ffca2c;
font-size: 1rem;
font-weight: bold;
margin: 15px;
border-radius: 10px;
padding: 10px;
}

.diferenciadores p:hover{
background-color: #7a56d0;
transition: ease-in-out 0.3s;
scale: 1.05;

}
h3 {
color: #81F0EF;
font-size: 2rem;
font-family: "Coiny", system-ui;
}
#header p {
    font-size: 1.1rem;
    font-family: "Coiny", system-ui;
}