.ingles {
    background-color: #FEF4BB;
}
.historia {
    background-color: #FEEAC0;
}
.matematicas {
    background-color: #C0E9FE;
}
.ciencias {
    background-color: #E5FEC0;
}
.lenguaje {
    background-color: #E9CAFE;
}