.ingles {
    background-color: #FEF4BB;
}
.historia {
    background-color: #FEEAC0;
}
.matematicas {
    background-color: #C0E9FE;
}
.ciencias {
    background-color: #E5FEC0;
}
.lenguaje {
    background-color: #E9CAFE;
}

/* categorías y juegos cards */
.mycard{
    width: 100%;
    height: 90%;
    transition: ease-in-out 0.5s;
}

.mycard:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.card-img-top{
    MARGIN-top: 45px;
    width: 40%;
    height: 50%;
}

.section-title, .mycard{
  color: #3564B7;
}

.myCategories{
    background-color: rgba(240, 248, 255, 0.514);
    padding: 0 2rem;
}